Django==6.0.3
djangorestframework==3.17.0
python-dotenv==1.2.2
psycopg2-binary==2.9.11
django-tailwind==4.4.2
django-browser-reload==1.21.0
whitenoise==6.9.0
requests==2.32.5
gunicorn==25.3.0
tailwind==3.1.5b0
